TAK_PLAYER_DB="playtakdb/players.db"
TAK_GAMES_DB="playtakdb/games.db"
TAK_WS_PORT=9999
TAK_TCP_PORT=10000
TAK_JWT_SECRET="your_jwt_secret"

TAK_HTTP_API_PORT=3004

LOG_FILE_PATH="logs/tak-server.log"
LOG_ARCHIVE_PATTERN="logs/tak-server.{}.gz"

GOOGLE_SERVICE_ACCOUNT_KEY="your_google_service_account_key.json"
GOOGLE_SHEETS_EVENTS_SPREADSHEET_ID="1kpgv_7pkxijsjpQx5iHZAF3jnsZLlBabkKh49pAHhu8"

MARIADB_ROOT_PASSWORD="rootpassword"
MARIADB_DATABASE="app_db"
MARIADB_USER="app_user"
MARIADB_PASSWORD="app_password"
MARIADB_HOST="localhost"
MARIADB_PORT=3306

TAK_EMAIL_HOST="email_host"
TAK_EMAIL_USER="email_user"
TAK_EMAIL_PASSWORD="email_password"
TAK_EMAIL_FROM="email_from"
