:root {
  background-color: var(--p-root-background);
  color: var(--p-root-text);
  font-size: var(--p-root-text-size);
  line-height: var(--p-root-text-line-height);
  scrollbar-color: var(--p-root-scrollbar-thumb) var(--p-root-scrollbar-track);
}
