ENVIRONMENT="development"
COMPOSE_PROFILES="development"

TAK_WS_PORT=9999
TAK_TCP_PORT=10000
TAK_HTTP_API_PORT=3003
TAK_LEGACY_HTTP_API_PORT=3004

TAK_HOST="127.0.0.1"
TAK_ORY_KRATOS_PUBLIC_URL="http://localhost:4433"
TAK_ORY_KRATOS_ADMIN_URL="http://localhost:4434"

TAK_JWT_SECRET="supersecret"

PLAYTAK_UI_DIST="../../tak-frontend/dist/tak-frontend/browser"
SITE_ADDRESS="localhost"

LOG_FILE_PATH="logs/tak-server.log"
LOG_ARCHIVE_PATTERN="logs/tak-server.{}.gz"

GOOGLE_SERVICE_ACCOUNT_KEY="your_google_service_account_key.json"
GOOGLE_SHEETS_EVENTS_SPREADSHEET_ID="1kpgv_7pkxijsjpQx5iHZAF3jnsZLlBabkKh49pAHhu8"

MARIADB_ROOT_PASSWORD="rootpassword"
MARIADB_DATABASE="app_db"
MARIADB_USER="app_user"
MARIADB_PASSWORD="app_password"
MARIADB_HOST="localhost"
MARIADB_PORT=3306

KRATOS_POSTGRES_USER="kratos"
KRATOS_POSTGRES_PASSWORD="secret"
KRATOS_POSTGRES_DB="kratos"
KRATOS_EMAIL_SMTP_URI="smtp://mailpit:1025/?disable_starttls=true"
KRATOS_FLAGS="--dev --watch-courier"

TAK_EMAIL_URL="smtp://localhost:1025"
TAK_EMAIL_FROM="Playtak <test@mailpit>"
