name: tak-app
services:
  mariadb:
    image: mariadb:11
    restart: unless-stopped
    ports:
      - '3306:3306'
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql

  caddy:
    image: caddy:latest
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./caddy/Caddyfile.${ENVIRONMENT}:/etc/caddy/Caddyfile
      - ${PLAYTAK_UI_DIST}:/srv/www/dist
      - caddy_data:/data
      - caddy_config:/config
      - ./certs:/certs
    environment:
      - SITE_ADDRESS=${SITE_ADDRESS}
      - TAK_HTTP_API_PORT=${TAK_HTTP_API_PORT}
      - TAK_LEGACY_HTTP_API_PORT=${TAK_LEGACY_HTTP_API_PORT}
      - TAK_WS_PORT=${TAK_WS_PORT}

  kratos-migrate:
    image: oryd/kratos:v25.4.0
    env_file:
      - ./ory/kratos/kratos.env.${ENVIRONMENT}
    environment:
      - DSN=postgres://${KRATOS_POSTGRES_USER}:${KRATOS_POSTGRES_PASSWORD}@postgresd:5432/${KRATOS_POSTGRES_DB}?sslmode=disable&max_conns=20&max_idle_conns=4
      - COURIER_SMTP_CONNECTION_URI=${KRATOS_EMAIL_SMTP_URI}
    volumes:
      - ./ory/kratos:/etc/config/kratos
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    restart: on-failure

  kratos:
    depends_on:
      - kratos-migrate
    image: oryd/kratos:v25.4.0
    ports:
      - '4433:4433' # public
      - '4434:4434' # admin
    restart: unless-stopped
    env_file:
      - ./ory/kratos/kratos.env.${ENVIRONMENT}
    environment:
      - DSN=postgres://${KRATOS_POSTGRES_USER}:${KRATOS_POSTGRES_PASSWORD}@postgresd:5432/${KRATOS_POSTGRES_DB}?sslmode=disable&max_conns=20&max_idle_conns=4
      - COURIER_SMTP_CONNECTION_URI=${KRATOS_EMAIL_SMTP_URI}
      - LOG_LEVEL=trace
      - LOG_LEAK_SENSITIVE_VALUES=true
    command: serve -c /etc/config/kratos/kratos.yml ${KRATOS_FLAGS}
    volumes:
      - ./ory/kratos:/etc/config/kratos

  mailpit:
    image: axllent/mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      - MP_SEND_API_AUTH_ACCEPT_ANY=true

  postgresd:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${KRATOS_POSTGRES_USER}
      - POSTGRES_PASSWORD=${KRATOS_POSTGRES_PASSWORD}
      - POSTGRES_DB=${KRATOS_POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  tak_server:
    image: tak-server:latest
    restart: unless-stopped
    ports:
      - '${TAK_TCP_PORT}:${TAK_TCP_PORT}'
      - '${TAK_HTTP_API_PORT}:${TAK_HTTP_API_PORT}'
      - '${TAK_LEGACY_HTTP_API_PORT}:${TAK_LEGACY_HTTP_API_PORT}'
      - '${TAK_WS_PORT}:${TAK_WS_PORT}'
    environment:
      - TAK_WS_PORT=${TAK_WS_PORT}
      - TAK_TCP_PORT=${TAK_TCP_PORT}
      - TAK_HTTP_API_PORT=${TAK_HTTP_API_PORT}
      - TAK_LEGACY_HTTP_API_PORT=${TAK_LEGACY_HTTP_API_PORT}
      - TAK_HOST=${TAK_HOST}
      - TAK_ORY_KRATOS_PUBLIC_URL=${TAK_ORY_KRATOS_PUBLIC_URL}
      - TAK_ORY_KRATOS_ADMIN_URL=${TAK_ORY_KRATOS_ADMIN_URL}
      - TAK_JWT_SECRET=${TAK_JWT_SECRET}
      - LOG_FILE_PATH=${LOG_FILE_PATH}
      - LOG_ARCHIVE_PATTERN=${LOG_ARCHIVE_PATTERN}
      - GOOGLE_SERVICE_ACCOUNT_KEY=${GOOGLE_SERVICE_ACCOUNT_KEY}
      - GOOGLE_SHEETS_EVENTS_SPREADSHEET_ID=${GOOGLE_SHEETS_EVENTS_SPREADSHEET_ID}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_HOST=${MARIADB_HOST}
      - MARIADB_PORT=${MARIADB_PORT}
      - TAK_EMAIL_URL=${TAK_EMAIL_URL}
      - TAK_EMAIL_FROM=${TAK_EMAIL_FROM}
      - ENVIRONMENT=${ENVIRONMENT}
    depends_on:
      - mariadb
    profiles:
      - production

volumes:
  caddy_data:
  caddy_config:
  mariadb_data:
  postgres_data:
