.p-badge {
  position: relative;
  width: fit-content;

  .p-badge-label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--p-badge-background);
    color: var(--p-badge-text);
    border-radius: calc(infinity * 1px);
    padding: var(--p-badge-padding);
    font-weight: 600;
    font-size: 0.75rem;
  }

  &.p-badge-with-label .p-badge-label {
    min-width: 1.125rem;
    padding: var(--p-badge-padding-with-label);
  }
}
