@import 'tailwindcss';
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Inter', sans-serif;
}

h1 {
  @apply text-2xl font-semibold;
}

h2 {
  @apply text-lg font-semibold;
}
